body, html {
    height: 100%;
    margin: 0;
}
h1,h2,h3,h4,h5,h6 {
	font-family:'Saira Extra Condensed',serif;
	font-weight:700;
	text-transform:uppercase;
	color:#ffffff
}
h1{
	font-size:6rem;
	line-height:5.5rem
	margin-top: 3%;	
	color: #ffffff;			
}
h2{
	font-size:3.5rem
}
.adrs p{
	font-family:'Saira Extra Condensed',serif;
	font-weight:700;
	text-transform:uppercase;
	color:#868e96;
	font-size: 20px;
}
.nc{
	color: #ffffff
}
.ph{
	margin: 0 auto;
	padding: 5% 0 3% 0;
	text-align: center;
}
.bg {
    /* The image used */
    background-image: url("../img/background.jpg");
    /* Full height */
     height: 100%;  

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.list-social-icons a .fa-lg {
    font-size: 1.75rem;
}
.img-profile {
    max-width: 20rem;
    max-height: 20rem;
    border: .8rem solid rgba(255,255,255,.2);
}
.bgisi {
    /* The image used */
    background-image: url("../img/background.jpg");
    /* Full height */
     height: 40%;  

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.judul h1{
	color: #343a40;
    font-size: 4rem;
}
.mb-0{
    color: #555;
}
.adrs p{
    color: #ffffff;
}
.text-md-right {
    text-align: right !important;
}
.text-primary {
    color: #868e96 !important;
}
section.resume-section .resume-item .resume-date {
    min-width: 18rem;
}
.resume-content p{
    font-family:'Saira Extra Condensed',serif;
    font-weight:500;
    color:#868e96;
    font-size: 20px;
}
.list-icons {
    font-size: 3rem;
}